@import "../dist/index.scss";

.test-webkit-sassui-drawer{
  border:1px solid red;
}


.webkit-sassui-drawer{
  width: 200px;
  background: #fff;;
  padding: 20px;
  &[data-placement="left"]{
    border-right: 10px solid #ccc;
  }
  &[data-placement="right"]{
    border-left: 10px solid #ccc;
  }
}
