/*!
 * name: @feizheng/webkit-sassui-drawer
 * description: Drawer for webkit sassui.
 * homepage: https://github.com/afeiship/webkit-sassui-drawer
 * version: 1.0.0
 * date: 2020-10-24T10:34:43.357Z
 * license: MIT
 */
/*webkit-sassui-drawer Start*/
@keyframes webkit-sassui-drawer-from-left-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes webkit-sassui-drawer-from-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes webkit-sassui-drawer-from-right-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes webkit-sassui-drawer-from-right-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.webkit-sassui-drawer {
  top: 0;
  position: fixed;
  backface-visibility: hidden;
  height: 100%;
  box-sizing: border-box;
}

.webkit-sassui-drawer[data-from="left"] {
  left: 0;
}

.webkit-sassui-drawer[data-from="left"].visible-true, .webkit-sassui-drawer[data-from="left"][data-visible="true"] {
  animation: 300ms webkit-sassui-drawer-from-left-in ease-in-out forwards;
}

.webkit-sassui-drawer[data-from="left"].visible-false, .webkit-sassui-drawer[data-from="left"][data-visible="false"] {
  animation: 300ms webkit-sassui-drawer-from-left-out ease-in-out forwards;
}

.webkit-sassui-drawer[data-from="right"] {
  right: 0;
}

.webkit-sassui-drawer[data-from="right"].visible-true, .webkit-sassui-drawer[data-from="right"][data-visible="true"] {
  animation: 300ms webkit-sassui-drawer-from-right-in ease-in-out forwards;
}

.webkit-sassui-drawer[data-from="right"].visible-false, .webkit-sassui-drawer[data-from="right"][data-visible="false"] {
  animation: 300ms webkit-sassui-drawer-from-right-out ease-in-out forwards;
}

/*webkit-sassui-drawer End*/
.test-webkit-sassui-drawer {
  border: 1px solid red;
}

.webkit-sassui-drawer {
  width: 200px;
  background: #fff;
  padding: 20px;
}

.webkit-sassui-drawer[data-from="left"] {
  border-right: 10px solid #ccc;
}

.webkit-sassui-drawer[data-from="right"] {
  border-left: 10px solid #ccc;
}
