/*!
 * name: @jswork/wsui-drawer
 * description: Drawer for wsui.
 * homepage: https://github.com/afeiship/wsui-drawer
 * version: 1.0.0
 * date: 2020-12-16 10:41:10
 * license: MIT
 */
/*wsui-drawer Start*/
@keyframes wsui-drawer-from-left-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes wsui-drawer-from-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes wsui-drawer-from-right-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes wsui-drawer-from-right-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.wsui-drawer {
  top: 0;
  position: fixed;
  backface-visibility: hidden;
  height: 100%;
  box-sizing: border-box;
}

.wsui-drawer[data-placement="left"] {
  left: 0;
}

.wsui-drawer[data-placement="left"].visible-true, .wsui-drawer[data-placement="left"][data-visible="true"] {
  animation: 300ms wsui-drawer-from-left-in ease-in-out forwards;
}

.wsui-drawer[data-placement="left"].visible-false, .wsui-drawer[data-placement="left"][data-visible="false"] {
  animation: 300ms wsui-drawer-from-left-out ease-in-out forwards;
}

.wsui-drawer[data-placement="right"] {
  right: 0;
}

.wsui-drawer[data-placement="right"].visible-true, .wsui-drawer[data-placement="right"][data-visible="true"] {
  animation: 300ms wsui-drawer-from-right-in ease-in-out forwards;
}

.wsui-drawer[data-placement="right"].visible-false, .wsui-drawer[data-placement="right"][data-visible="false"] {
  animation: 300ms wsui-drawer-from-right-out ease-in-out forwards;
}

/*wsui-drawer End*/
.test-wsui-drawer {
  border: 1px solid red;
}

.wsui-drawer {
  width: 200px;
  background: #fff;
  padding: 20px;
}

.wsui-drawer[data-placement="left"] {
  border-right: 10px solid #ccc;
}

.wsui-drawer[data-placement="right"] {
  border-left: 10px solid #ccc;
}
